<!DOCTYPE html>
<html>
<head>
    <title>My Web Page</title>
    <!-- Other metadata and external CSS/JavaScript files can be included here -->
</head>
<body>
    <form action="/users" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="<%= locals.name %>" required>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea>
    
        <button type="submit">Submit</button>
    </form>
    
    <!-- Other content of the web page can be included here -->
</body>
</html>